*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
.cloud/
.storage/
.uuid
deps
home-assistant.log
home-assistant_v2.db
OZW_Log.txt
html5_push_registrations.conf
tts/
plex.conf
ssh_homeassistant.txt
known_devices.yaml
pyozw.sqlite
__pycache__
